@model PagedList.Core.IPagedList<WebSellWatch.Models.TinDang>
@using PagedList.Core.Mvc
@{
    ViewData["TiTle"] = "Blog - " + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;

}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area breadcrumbs_blog" style="margin-top: 100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content text-center">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="blog.html">Blog</a></li>
                    </ul>
                    <h3>Write, Share & Discuss <br> Together</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--blog page section start-->
<div class="blog_page_section mb-140">
    <div class="container">
        <div class="blog_messonry_button d-flex justify-content-center">
            <button class="active" data-filter="*">all</button>
            <button data-filter=".news">news </button>
            <button data-filter=".products">products </button>
            <button data-filter=".nspiration">nspiration </button>
            <button data-filter=".community">community</button>
            <button data-filter=".others">others</button>
        </div>
        <div class="row blog_page_gallery">
            @if(Model != null )
            {
                foreach(var item in Model)
                {
                    string url = $"/tintuc/{item.Alias}-{item.PostId}.html";
                    <div class="col-lg-4 col-md-6 col-sm-6 gird_item nspiration community">
                        <article class="single_blog products community">
                            <figure>
                                <div class="blog_thumb">
                                    <a href="@url"><img src="~/images/news/@item.Thumb" alt=""></a>
                                </div>
                                <figcaption class="blog_content">
                                    <div class="blog_meta">
                                        <ul class="d-flex">
                                            <li><span class="meta_tag">News</span></li>
                                            <li><span>@item.CreatedDate.Value.ToLongDateString()</span></li>
                                        </ul>
                                    </div>
                                    <h3><a href="@url">@item.Title</a></h3>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                }
            }
           

        </div>
        <div class="pagination_style pagination blog_pagination justify-content-center">
            <ul class="d-flex">
                <li><a class="current" href="/blog.html?page=@PageCurrent">@PageCurrent</a></li>
                <li><a href="/blogs.html?page=@PageNext">@PageNext</a></li>
                <li><a href="/blogs.html?page=@PageNext" aria-label="Next">>></a></li>
            </ul>
        </div>
    </div>
</div>
<!--blog page section end-->
