@model WebSellWatch.ModelViews.HomeViewVM


@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> allProduct = ViewBag.AllProducts;
}


<section class="slider_section mb-63">
    <div class="slider_area slick_slider_activation" data-slick='{
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "arrows": true,
            "dots": true,
            "autoplay": false,
            "speed": 300,
            "infinite": true
        }'>
        <div class="single_slider d-flex align-items-center" style="background-image: url('assets\img\banner-2.png');" data-bgimg="assets\img\banner-2.png">
@*            <iframe allow="autoplay; gyroscope;" allowfullscreen height="100%" referrerpolicy="strict-origin"
                    src="https://www.kapwing.com/e/645910eb2dacb801634835c8" style="border:0; left:0; overflow:hidden; position:absolute; top:0; width:100%"
                    title="Embedded content made on Kapwing" ></iframe>*@
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="slider_text">
                            @*<span>Lookbook</span>
                            <h1>fashion trend for autum girls with vibes</h1>
                            <p>We love seeing how our Aslam wearers like <br> to wear their Norda</p>*@
                            <a style="margin-top: 200px" class="btn btn-primary" href="shop.html">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</section>
<!--slider area end-->
<!--shipping section start-->
<section class="shipping_section mb-102">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shipping_inner d-flex justify-content-between">
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-cursor icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>Free Shipping</h3>
                            <p>Orders over $100</p>
                        </div>
                    </div>
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-reload icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>Free Returns</h3>
                            <p>Within 30 days</p>
                        </div>
                    </div>
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-lock icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>100% Payment Secure</h3>
                            <p>Payment Online</p>
                        </div>
                    </div>
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-tag icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>Affordable Price</h3>
                            <p>Guaranteed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--shipping section end-->
<!-- banner section start -->
<section class="banner_section mb-109">
    <div class="container">
        <div class="section_title mb-60">
            <h2>featured collections</h2>
        </div>
        <div class="banner_container d-flex">
            <figure class="single_banner position-relative mr-30">
                <img src="~/assets/img/bg/bg1.jpg" alt="">
                <figcaption class="banner_text position-absolute">
                    <h3>Zara Pattern <br> backpacks</h3>
                    <p>Stretch, fresh-cool help you alway <br> comfortable</p>
                    <a class="btn btn-primary" href="shop.html">Shop Now</a>
                </figcaption>
            </figure>
            <figure class="single_banner position-relative">
                <img src="~/assets/img/bg/bg2.jpg" alt="">
                <figcaption class="banner_text position-absolute">
                    <h3 class="text-white">Basic Color Caps</h3>
                    <p class="text-white">Minimalist never cool, choose and make <br> the simple great again!</p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>
<!-- banner section end -->
<!-- product section start -->
<section class="product_section mb-96">
    <div class="container">
        <div class="product_header d-flex justify-content-between  mb-50">
            <div class="section_title">
                <h2>Sản Phẩm nổi bật</h2>
            </div>
            <div class="product_tab_btn d-flex">
                <ul class="nav" role="tablist">
                    <li>
                        <a class="active" data-toggle="tab" href="#all" role="tab" aria-controls="all"
                           aria-selected="true">
                            All
                        </a>
                    </li>
                    @foreach (var item in Model.Products){
                        <li>
                            <a data-toggle="tab" href="#clothings" role="tab" aria-controls="clothings"
                               aria-selected="false">
                               @item.category.CatName
                            </a>
                        </li>
                    }
                </ul>
                <div class="all_product">
                    <a href="shop.html">All Product</a>
                </div>
            </div>
        </div>
        <div class="product_container row">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="all" role="tabpanel">
                    <div class="product_slick slick_slider_activation" data-slick='{
                            "slidesToShow": 4,
                            "slidesToScroll": 1,
                            "arrows": true,
                            "dots": false,
                            "autoplay": false,
                            "speed": 300,
                            "infinite": true,
                            "responsive":[
                              {"breakpoint":992, "settings": { "slidesToShow": 3 } },
                              {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                              {"breakpoint":300, "settings": { "slidesToShow": 1 } }
                             ]
                        }'>
                    @foreach (var item in Model.Products)
                    {
                            @await Html.PartialAsync("_ListProductPartialView", item.lsProducts)                       
                    }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section end -->
<!-- banner section start -->
<section class="banner_section banner_style2 mb-109">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <figure class="single_banner position-relative">
                    <img src="~/assets/img/bg/bg3.jpg" alt="">
                    <div class="banner_text position-absolute">
                        <h3>Minimalist <br> sneaker</h3>
                        <p>Stretch, fresh-cool help you alway <br> comfortable</p>
                        <a class="btn btn-primary" href="shop.html">Shop Now</a>
                    </div>
                    <div class="banner_tag">
                        <span>new arrivals <br> women</span>
                    </div>
                </figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <figure class="single_banner position-relative">
                    <img src="~/assets/img/bg/bg4.jpg" alt="">
                    <div class="banner_text position-absolute text__style2">
                        <h3><span>50%</span> OFF <br> for Autumn</h3>
                        <p>Stretch, fresh-cool help you alway <br> comfortable</p>
                        <a class="btn btn-primary" href="shop.html">Shop Now</a>
                    </div>
                    <div class="banner_tag">
                        <span>mega sale</span>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->
<!-- product section start -->
<section class="product_section mb-80">
    <div class="container">
        <div class="product_header d-flex justify-content-between  mb-60">
            <div class="section_title">
                <h2>new arrivals</h2>
            </div>
            <div class="product_tab_btn d-flex">
                <ul class="nav" role="tablist">
                    <li>
                        <a class="active" data-toggle="tab" href="#all2" role="tab" aria-controls="all2"
                           aria-selected="true">
                            All
                        </a>
                    </li>
                    @foreach (var item in Model.Products)
                    {
                        <li>
                            <a data-toggle="tab" href="#clothings" role="tab" aria-controls="clothings"
                               aria-selected="false">
                                @item.category.CatName
                            </a>
                        </li>
                    }
                </ul>
                </ul>
                <div class="all_product">
                    <a href="shop.html">All Product</a>
                </div>
            </div>
        </div>
        <div class="product_container row">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="all2" role="tabpanel">
                    <div class="product_slick slick_slider_activation" data-slick='{
                            "slidesToShow": 4,
                            "slidesToScroll": 1,
                            "arrows": true,
                            "dots": false,
                            "autoplay": false,
                            "speed": 300,
                            "infinite": true,
                            "responsive":[
                              {"breakpoint":992, "settings": { "slidesToShow": 3 } },
                              {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                              {"breakpoint":300, "settings": { "slidesToShow": 1 } }
                             ]
                        }'>
                        @foreach (var item in Model.Products)
                        {
                            @await Html.PartialAsync("_ListProductPartialView", allProduct)
                        }

            </div>
        </div>
    </div>
</section>
<!-- product section end -->
<!-- blog section start -->
@if (Model.TinTucs != null && Model.TinTucs.Count() > 0)
{
    <section class="blog_section mb-140">
    <div class="container">
        <div class="product_header border-top d-flex justify-content-between  mb-60">
            <div class="section_title">
                <h2>press & look</h2>
            </div>
            <div class="all_articles">
                <a href="blog.html">All articles</a>
            </div>
        </div>
        <div class="blog_container row">
            <div class="blog_slick slick_slider_activation" data-slick='{
                        "slidesToShow": 3,
                        "slidesToScroll": 1,
                        "arrows": false,
                        "dots": false,
                        "autoplay": false,
                        "speed": 300,
                        "infinite": true,
                        "responsive":[
                          {"breakpoint":992, "settings": { "slidesToShow": 2 } },
                          {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                          {"breakpoint":576, "settings": { "slidesToShow": 1 } }
                        ]
                    }'>
                    @foreach (var item in Model.TinTucs)
                    {
                        string url = $"/tin-tuc/{item.Alias}-{item.PostId}.html";
                        <article class="col single_blog">
                           <figure>
                               <div class="blog_thumb">
                                   <a href="blog-details.html"><img style="height:249px" src="~/images/news/@item.Thumb" alt="@item.Title"></a>
                               </div>
                               <figcaption class="blog_content">
                                  <div class="blog_meta">
                                     <ul class="d-flex">
                                        <li><span class="meta_tag">News</span></li>
                                            <li><span>@item.CreatedDate.Value.ToShortDateString()</span></li>
                                     </ul>
                                     </div>
                                      <h3>
                                         <a href="blog-details.html">
                                             @item.Scontents
                                          </a>
                                        </h3>
                                    </figcaption>
                           </figure>
                        </article>
                    }
                 </div>
             </div>
            </div>
        </section>
}

<!-- blog section end -->
<!-- instagram section start -->
<section class="instagram_section mb-135">
    <div class="container-fluid p-0">
        <div class="section_title text-center mb-130">
            <h2>follow our instagram</h2>
        </div>
        <div id="instagramFeed"></div>
    </div>
</section>
<!-- instagram section end -->
